p {font-size: 11px}

h1 {color: black; text-decoration: underline}

.clase2 {color: #006600}

span#identifi1 {text-decoration: underline}

.clase1 {color: #FF6600; font-size: 11px}

.sub_rojo {font-weight: bold; color: #FF0044; text-decoration: underline}

p#final {text-align: right; color: #FF0044; background-color: #99CCFF}